* {
    margin: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
	  font-size: 1em;
	  color:#8a8a8a;
    text-decoration: none;
    background-color:#B2D9F4;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
	  font-size: 2em;
	  color:rgb(255, 255, 255);
	  text-decoration: none;
    text-align: center;
    margin: .5em;
  }

  h3 {
    margin: auto; 
  }
  
  a{
    color: #244666;
  }

  /*GRID*/
  ul.grid {
    
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-gap: .5em;
    width: 60%;
    /*height: 100%;*/
    background: rgb(72,184,250,0.7);
    padding: .5em;
    border: .2em solid #43484e;
    box-sizing: border-box;
    border-radius: .5em;
    transition: all 0.3s ease;
    list-style: none;
  
    
  }
  
  ul.grid li.board:hover {
    border: .25em solid #244666;
    box-shadow: 0 8px 15px rgba(54,79,199,0.1), 0 18px 35px rgba(54,79,199,0.15);
    transform: translateY(-1px);
    transition: all 0.1s ease;
    opacity: 0.5;
  }
  
  li.board {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    opacity: 1;
    margin: .2em;
    padding: .5em;
  }

  .page{
    float: center;
    margin-left: auto;
    margin-right: auto;
    margin: .5em;  
  }
  
  /*FOOTER*/
  .sky{
    width: 100%;
  }