body {
    height:100%;
    background-color:#7BD434;
    margin:0px;
    color: #ffffff;
  }
  
h1{
  text-align: center;
  padding:0 20px;
	text-decoration: none;
	text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
	color:white;
	line-height: 70px;
}

.question_mark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  margin-top: 2em;
  padding: 0 1em;
}
.wrapper{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}


  /* Acordeon styles */
.tab {
  position: relative;
  margin: auto;
  margin-bottom: 2px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: .3em;
  
}

.tab input {
  position: absolute;
  opacity: 0;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a03f;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;   
}
.blue label {
  background: #16a03f;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #b0d459;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.blue .tab-content {
  background: #b0d459;
}
.tab-content p {
  margin-inline-start:1em;
  margin-inline-end: 1em;
  
}
  /* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100%;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
 