/* ==================== NAV BAR =============== */

.main-navbar{
	width: 100%;
	height: 70px;
	background-color:#48B8FA; 
	position:sticky;
	top: 0;
	z-index : 999;
}

.main-navbar ul{
	display: flex;
	float:right;
	margin: 0;
    padding-right: 100px;
    padding-left: 0;
}

.main-navbar ul li:first-child input[type="text"] {
	height: 1.5em;
    margin-top: 0em;
	padding-top: 0.2em;
	margin-top:2em;
	background: rgb(231, 231, 231);
	font-size: 0.9em; 
    color: rgb(255, 255, 255);
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.main-navbar ul li:first-child input[type="text"]:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.main-navbar ul li{
    list-style: none;
    padding-left: 0.3em;
    padding-right: 0em;
}

.main-navbar ul li a{
	display: block;
	padding:0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color:white;
	line-height: 70px;
}

.navbar-brand {
	line-height: 70px;
	padding: 0 100px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	color:white;
	text-decoration: none;
}

.main-navbar ul li a:hover,
.main-navbar ul li a.active{
	font-weight: bold;
}