* {box-sizing:border-box}

body {
  /*  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; */ 
    font-family: 'Merriweather', serif;
    background-color:#B2D9F4;
    margin: 0;
    color: #FFFFFF
}

/* Grid info start */ 

.container {
    display: grid;

    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
    grid-template-columns: 0.7fr auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;

    height: 100vh;
  }

  .header-container {
    
    grid-area: header; 
    padding: 0;

    margin: 0;
  }  
  
  nav {
    grid-area: nav;
    margin-left: 0.5rem;
  } 
  
  main {
    grid-area: content;
  }
  
  aside {
    grid-area: side;
    margin-right: 0.5rem;
  }
  
  .button{
    display:inline-block;
    border:0.1em solid #FFFFFF;
    margin-top:1em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background: rgba(72, 185, 250, 0);

}
.button:hover{
    color:#B2D9F4;
    background-color:#FFFFFF;
}

 /* footer {
    grid-area: footer;
    background-color: rgb(43, 43, 43); 
    color: white;
    align-self: center;
    justify-self: center;   
  } */ 

  @media (max-width: 768px) { /* MUDAR ISTO, ESTÃ FEIO */ 
    .container {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        minmax(75px, auto) /* Nav */
        1fr /* Content */
        minmax(75px, auto) /* Sidebar */
        auto; /* Footer */
    }
  
    nav, aside {
      margin: 0;
    }
  }

/* Grid info end */


/* Header and navigation bar start */ 

   .header-container input[type=text] {
    padding: 0.1em;
    border: none;
  }

  .navbar button {
      margin: -0.3em;
  }

   /* Navbar style */ 
 
   header ul li {
    display: inline-block;
    padding: 0 1.1em 0 0;
    font-size: 0.9em;
   }



/* Header and navigation bar end */ 

h1 {
    font-family: 'Open Sans', sans-serif;
}

aside > h1 > article {
    font-size: 0.4em;
}

/* Placing user info */ 

#user_info {
/*border: 1px solid red; */ 
display: grid;
grid-template-areas:
"avatar name_xp"
"about about"
"info info"
"info2 info2"
"email email"
"edit edit";
grid-template-columns: 0.5fr auto;
grid-template-rows: 0.2fr 0.15fr 0.10fr 0.1fr 0.1fr 0.1fr;
grid-gap: 2px;
}

img {
  border-radius: 10px;
}

#first_row h1{
  font-size: 1.2em;
  padding-left: 0.2em;
}

#first_row h2{
  font-size: 0.5em;
  padding-left: 0.2em;
}

#skillbar{
  width: 100%; /* Full width */
  height: 5%;
  background-color: rgb(0, 0, 0); /* Grey background */
  border: 1px solid white; 
}

.skills {
text-align: right; /* Right-align text */
color: white; /* White text color */
}

#user_info #about_me{
  grid-area: about;
  font-weight:900;
}

#user_info #level {
  grid-area: info;
}

#user_info #date {
  grid-area: info2;
}

#user_info email {
  grid-area: email2; 
}

#user_info button {
  font-weight: 700;
  grid-area: edit; 
  justify-self: center; 
  align-self: top; 
}

/* Middle column */ 

#latest_news {
}

#latest_news ul{
  padding-left: 0.5em;
  text-decoration: underline; 

}

#latest_news li a:hover {
  color: #B6B6B6;
 }

 #latest_news li a {
  color: black;
  
 }

/* Right column */ 
#badge_info{
   /* border: 1px solid green; */ 
}

li {
    list-style-type:none;
    color: black;
    padding: 0.5em;
}

#badge_info li span {
padding: 0.3em;
margin-top: 4em;
}

#badge_info ul {
    padding: 0;
}



/* General */ 


footer a {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: white;
}

/* Missions page */

#user-info
{
  display: grid; 
  grid-template-areas:
  "avatar userinfo rewards";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}

#user-info img
{
  grid-area: avatar;
  margin-left: 6em; 
  margin-top: 0.5em; 
}

#user-info #first_row
{
  grid-area: userinfo;
  margin-left: -10em; 
}

#user-info .past-rewards
{
  grid-area: rewards;
  padding-left: 6em;
}

#user-info .past-rewards h1
{
  padding-left: 1em;
}

#user-info .past-rewards h1
{
  padding-left: 1em;
}

#user-info .past-rewards #missions
{
  grid-area: mission;
}

#user-info .past-rewards #reward
{
  grid-area: reward;
}

#second-row
{
  display: grid; 
  grid-template-areas:
  "mission mission rewards";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}

#missions 
{
  grid-area: mission;
}

#reward
{
  grid-area: rewards;
  margin-top: 5em; 
}

h1 #level
{ font-size: 0.8em;
  display: inline; 
font-weight: 300; }

/*FOOTER*/
.sky{
  width: 100%;
}